<main *ngIf="task">
    <div class="buttons">
        <button class="back" (click)="goBack()">Назад</button>
        <button class="edit" [routerLink]="'/edit/'+task.id">Редактировать</button>
        <button class="delete" (click)="deleteTask()">Удалить</button>
    </div>
    <div class="holder">
        <div class="params">
            <p class="title">Название задачи</p>
            <p class="value">{{task?.name}}</p>
        </div>
        <div class="params">
            <p class="title">Дата создания</p>
            <p class="value">{{task?.createdAt | date:'dd MMMM yyyy, HH:mm'}}</p>
        </div>
        <div class="params">
            <p class="title">Приоритет</p>
            <p class="value">{{task?.priority}}</p>
        </div>
        <div class="params">
            <p class="title">Отметки</p>
            <p class="value"><span *ngFor="let mark of task.marks">{{mark}}</span></p>
        </div>
        <div class="params">
            <p class="title">Описание</p>
            <p class="value">{{task?.description}}</p>
        </div>
    </div>
</main>