<main>
    <button class="back" (click)="goBack()">Назад</button>
    <div class="holder">
        <form [formGroup]="taskForm">
            <div class="form-group">
                <label>Название задачи</label> <br>
                <input type="text" class="form-control name" formControlName="name">
                <p class="validate-message" *ngIf="name?.errors?.['required']">Название обязательно для заполнения</p>
            </div>
            <div class="form-group">
                <label>Приоритет</label> <br>
                <select name="priority" class="form-control priority" formControlName="priority" id="priority">
                    <option value="low">low</option>
                    <option value="normal">normal</option>
                    <option value="high">high</option>
                </select>
                <p class="validate-message" *ngIf="priority?.errors?.['required']">Приоритет обязателен для заполнения
                </p>
            </div>
            <div class="form-group">
                <label>Название задачи</label> <br>
                <select name="marks" class="form-control marks" multiple size="3" formControlName="marks" id="marks">
                    <option value="research" [ngValue]="'research'">research</option>
                    <option value="design" [ngValue]="'design'">design</option>
                    <option value="development" [ngValue]="'development'">development</option>
                </select>
            </div>
            <div class="form-group">
                <label>Описание</label> <br>
                <textarea name="description" class="form-control description" formControlName="description"
                    id="description" rows="10"></textarea>
            </div>
            <button class="save" type="button" (click)="saveTask()" [disabled]="taskForm.invalid">Сохранить</button>
            <p class="result-message" *ngIf="resultMessage.length > 0">{{resultMessage}}</p>
        </form>
    </div>
</main>